<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>

    <hr>

  </div>
</div>

<hr>

<h2>Add a new post</h2>

<form action="/insert_post" method="post">
  <div>
    <label for="title_field">Title</label>
    <input id="title_field" type="text" name="title">
  </div>

  <div>
    <label for="body_field">Body</label>
    <textarea name="body" id="body_field" cols="30" rows="10"></textarea>
  </div>

  <div>
    <label for="expires_on_field">Expires on</label>
    <input type="date" name="expires_on" id="expires_on_field">
  </div>

  <div>
    <input type="hidden" name="board_id" id="board_id_field" value="<%= @the_board.id %>">
  </div>

  <button>
    Add post
  </button>
</form>

<hr>

<h2>Active posts</h2>

<% matching_posts = Post.where({ :board_id => @the_board.id }).order({ :expires_on => :asc }) %>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>

  <% matching_posts.each do |a_post| %>

    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>

  <% end %>

</table>
